{% extends "emails/base.html" %} {% block title %}Project administrator change{%
endblock %} {% block body %}

<h2>{{profile.full_name}} has been {{body_snippet}} this project.</h2>

{% if admin_profile %}
<p>
  This change was made by {{admin_profile.full_name}}. ({{admin_profile.email}})
</p>
{% endif %}

<p>
  If no one in your project made this change, all project admins should change
  their passwords right away by going to "Your profile" from the menu in the top
  right, then click "Send Change Password Email".
</p>

<p>You received this email because you are an administrator of this project.</p>
<p>
  To review this project's user roles, go to
  <a href="{{collect_project_url}}">{{collect_project_url}}</a>.
</p>

{% endblock %}
