{% extends "emails/base.html" %}
{% block title %}Changes to project{% endblock %}
{% block body %}
    <p>
        Because you are an administrator of this project, we are letting you know that the changes listed below were
        just made by:<br>
        {% if profile %}{{profile.full_name}} &lt;{{profile.email}}&gt;<br>
        {% else %}&lt;a superadmin not using the API&gt;
        {% endif %}
        If these changes were made by a co-administrator, contact that person to discuss any possible revisions.
        If neither you nor a co-administrator made the changes, make sure all project user roles are set
        appropriately, and all project administrators should immediately change passwords by navigating to 'Your
        profile' in the MERMAID menu and then clicking the 'Send Change Password Email' button.
    </p>
    <p>
        To view your project settings, click or point your browser to:<br>
        <a href="{{collect_project_url}}">{{collect_project_url}}</a>
    </p>
    <h4>Summary of changes:</h4>
    {% if text_changes %}<ul>
    {% for change in text_changes %}
        <li>{{change|linebreaksbr}}</li>
    {% endfor %}
    </ul>{% endif %}
{% endblock %}
