{% extends "emails/base.html" %}
{% block title %}Changes to project{% endblock %}
{% block body %}
<h2>Changes have been made to your project</h2>

{% if text_changes %}
<ul>
  {% for change in text_changes %}
  <li>{{change|linebreaksbr}}</li>
  {% endfor %}
</ul>
{% endif %}

<p>
  These changes were made by {% if profile %} {{profile.full_name}}
  ({{profile.email}}) {% else %} a superadmin not using the API. {% endif %}
</p>

<p>
  If no one in your project made this change, all project admins should change
  their passwords right away by going to "Your profile" from the menu in the top
  right, then click "Send Change Password Email".
</p>

<p>You received this email because you are an administrator of this project.</p>

<p>
  To view your project's settings, go to
  <a href="{{collect_project_url}}">{{collect_project_url}}</a>.
</p>
{% endblock %}
