# Auth0 - API
MERMAID_API_SIGNING_SECRET=

# Auth0 - client (SPA)
SPA_ADMIN_CLIENT_ID=
SPA_ADMIN_CLIENT_SECRET=

# Auth0 - mgmt
MERMAID_MANAGEMENT_API_CLIENT_ID=
MERMAID_MANAGEMENT_API_CLIENT_SECRET=

# Django
SECRET_KEY=

# SMTP
EMAIL_HOST_PASSWORD=

# CircleCI
CIRCLE_CI_CLIENT_ID=

# AWS (old account) for mermaid-db-backups bucket
# this is required to do backup/restore tasks
OLD_AWS_ACCESS_KEY_ID=
OLD_AWS_SECRET_ACCESS_KEY=

DRF_RECAPTCHA_SECRET_KEY=