# Auth0 - API
MERMAID_API_SIGNING_SECRET=

# Auth0 - client (SPA)
SPA_ADMIN_CLIENT_ID=
SPA_ADMIN_CLIENT_SECRET=

# Auth0 - mgmt
MERMAID_MANAGEMENT_API_CLIENT_ID=
MERMAID_MANAGEMENT_API_CLIENT_SECRET=

# Django
SECRET_KEY=
SUPERUSER=
ADMINS=
DEV_EMAILS=

# SMTP
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

DRF_RECAPTCHA_SECRET_KEY=
CDK_DEFAULT_ACCOUNT=
