commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_delayed_commands.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      c_id=`docker ps --no-trunc -q | head -n 1`
      echo $c_id
      echo $PWD
      docker exec $c_id python /var/projects/webapp/manage.py dbbackup
      docker exec $c_id python /var/projects/webapp/manage.py collectstatic --noinput
      docker exec $c_id python /var/projects/webapp/manage.py migrate --noinput
      docker exec $c_id supervisorctl restart all