{
  "AWSEBDockerrunVersion": "1",
  "Authentication": {
    "Bucket": "index.docker.io",
    "Key": "dockercfg"
  },
  "Image": {
    "Name": "honeycrisp/mermaid-api:<TAG>",
    "Update": "true"
  },
  "Logging": "/var/log/supervisor/",
  "Ports": [
    {
      "ContainerPort": "80"
    }
  ]
}
